/* Import a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.Main {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.Main {
  max-width: 900px;
  margin: 30px auto;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  overflow: auto;
}

h1 {
  color: #343a40;
  font-size: 2.5em;
}

h2 {
  color: #495057;
  font-size: 1.75em;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 20px 0;
}

input, button {
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 1em;
}

input {
  width: calc(100% - 24px);
}

button {
  background-color: #d85b5b !important;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #9e2f2f !important;
  transform: scale(1.02);
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  
}

.card {
  flex: 1;
  max-width: 220px;
  padding: 20px;
  background-color: #e9ecef;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 12px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  margin-bottom: 12px;
  background-color: #e9ecef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s;
}

li:hover {
  transform: scale(1.02);
}

.balance-container, .transaction-container, .transaction-history {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.transaction-container {
  gap: 20px;
}

.transaction-container > div, .transaction-history > div {
  flex: 1;
  padding: 20px;
  background-color: #e9ecef;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  text-align: center;
}

.income {
  color: #28a745;
}

.expense {
  color: #dc3545;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.delete-button:hover {
  background-color: #c82333;
  transform: scale(1.05);
}
