/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Navigation bar container */
.navigation-bar {
    background-color: #d96d6d; /* Dark Coral */
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 60px;
}

/* Logo container */
.logo-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    height: 100%;
    width: auto;
}

/* Box styling */
.box {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.box3 {
    display: flex;
    align-items: center;
}

/* Navigation links */
.navigation-bar a {
    color: #fff; /* White text for normal state */
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover state */
.navigation-bar a:hover {
    background-color: #ffb3b3; /* Light Peach */
    color: #333333; /* Dark Gray */
}

/* Active state */
.navigation-bar a.active {
    background-color: #943939; /* Darker Coral */
    color: #fff; /* White text for active link */
}

/* User info styling */
.navigation-bar p {
    margin: 0;
    padding: 0 10px;
    font-weight: bold;
    color: #ff9800; /* Orange color for user info */
}

/* Responsive design */
@media (max-width: 768px) {
    .navigation-bar {
        flex-direction: row;
    }

    .logo-container {
        margin-bottom: 0;
    }

    .box3 {
        justify-content: flex-end;
        margin-top: 0;
    }

    .navigation-bar a {
        display: flex;
        margin: 5px 0;
    }
}


